
:global(section.swiper-section) {
  width: 100%;
  padding: 50px 20px;      
  box-sizing: border-box;
  display: flex;
  justify-content: center;  
  align-items: center;       
  position: relative;       
  background-color: #f5f5f5; 
}
:global(.swiper-txt) {
  font-size: 35px;    
  font-weight: 700;   
  height: 90px;
  display: flex;
  justify-content: flex-start;
  justify-items: center;
 padding: 20px;

}

:global(.swiper) {
  width: 100%;
  max-width: 1440px; 
  height: auto;     
}


:global(.swiper .swiper-slide) {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 309px;
  height: 557px;
}


:global(.swiper .swiper-slide img) {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


:global(.swiper .swiper-pagination) {
  position: relative; 
  text-align: center;
  padding: 30px;   
}


:global(.swiper .swiper-pagination-bullet) {
  background: white; 
  opacity: 0.5;
  width: 12px;
  height: 12px;
  transition: all 0.3s ease;
  margin: 0 5px; 
}


:global(.swiper .swiper-pagination-bullet-active) {
  background: #00FFFF; 
  opacity: 1;
  transform: scale(1.2);
}


:global(.swiper-button-prev),
:global(.swiper-button-next) {
  color: black;         
  width: 40px;
  height: 40px;
  top: 50%;              
  transform: translateY(-50%);
}