.card {
  width: 309px;
  height: 557px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.03);
}

.imageContainer {
  width: 100%;
  height: 464px;
  position: relative;
}

.image {
  object-fit: cover;
  border-bottom: 1px solid #ccc;
}

.info {
  padding: 12px;
  text-align: center;
  height: 100%;
}

.name {
  font-size: 18px;
  font-weight: bold;
  margin: 8px;
  color: black;
}

.price {
  font-size: 16px;
  color: #555;
  margin: 0;
}
