.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start; 
  background-color: #D9D9D9;
  color: black;
  padding: 40px 60px;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}
.logoContainer {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex: 1;
}

.icons {
  display: flex;
  gap: 10px;
  margin-top: 8px;
}
